@font-face
{
    font-family: 'MuseoSans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/museosans_300-webfont.eot');
    src: url('../fonts/museosans_300-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/museosans_300-webfont.woff') format('woff'),url('../fonts/museosans_300-webfont.ttf') format('truetype'),url('../fonts/museosans_300-webfont.svg#MuseoSans300Regular') format('svg');
}
@font-face
{
    font-family: 'MuseoSans';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/museosans_100_italic-webfont.eot');
    src: url('../fonts/museosans_100_italic-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/museosans_100_italic-webfont.woff') format('woff'),url('../fonts/museosans_100_italic-webfont.ttf') format('truetype'),url('../fonts/museosans_100_italic-webfont.svg#MuseoSans100Italic') format('svg');
}
@font-face
{
    font-family: 'MuseoSans';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/museosans_700-webfont.eot');
    src: url('../fonts/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/museosans_700-webfont.woff') format('woff'),url('../fonts/museosans_700-webfont.ttf') format('truetype'),url('../fonts/museosans_700-webfont.svg#MuseoSans700Regular') format('svg');
}
@font-face
{
    font-family: 'MuseoSans_light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/museosans_100-webfont.eot');
    src: url('../fonts/museosans_100-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/museosans_100-webfont.woff') format('woff'),url('../fonts/museosans_100-webfont.ttf') format('truetype'),url('../fonts/museosans_100-webfont.svg#MuseoSans100') format('svg');
}
@font-face
{
    font-family: 'MuseoSans_bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/museosans_900-webfont.eot');
    src: url('../fonts/museosans_900-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/museosans_900-webfont.woff') format('woff'),url('../fonts/museosans_900-webfont.ttf') format('truetype'),url('../fonts/museosans_900-webfont.svg#MuseoSans900') format('svg');
}
@font-face
{
    font-family: 'museo_300regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/museo300-regular-webfont.eot');
    src: url('../fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/museo300-regular-webfont.woff') format('woff'),url('../fonts/museo300-regular-webfont.ttf') format('truetype'),url('../fonts/museo300-regular-webfont.svg#museo_300regular') format('svg');
}
@font-face
{
    font-family: 'museo_500regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/museo500-regular-webfont.eot');
    src: url('../fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/museo500-regular-webfont.woff') format('woff'),url('../fonts/museo500-regular-webfont.ttf') format('truetype'),url('../fonts/museo500-regular-webfont.svg#museo_500regular') format('svg');
}
@font-face
{
    font-family: 'museo_700regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/museo700-regular-webfont.eot');
    src: url('../fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/museo700-regular-webfont.woff') format('woff'),url('../fonts/museo700-regular-webfont.ttf') format('truetype'),url('../fonts/museo700-regular-webfont.svg#museo_700regular') format('svg');
}
@font-face
{
    font-family: 'WebSymbolsRegular';
    font-weight: normal;
    font-style: normal;
    src: url('../websymbols/websymbols-regular-webfont.eot');
    src: url('../websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('../websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('../websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
{
    display: block;
}
body
{
    line-height: 200%;
}
article.content
{
    margin-top: 3.125em;
}
ol, ul
{
    list-style: none;
}
.content blockquote
{
    border-left: 4px solid #DDDDDD;
    color: #777777;
    margin: 1em 0;
    padding: 0 1em;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
body
{
    background: #ffffff url(../images/background.png) repeat top left;
    color: #000000;
    font-family: Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei",Verdana,sans-serif;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    word-spacing: 1px;
}
body>div
{
    background-color: #fff;
    border-top: 6px solid #fff;
    box-shadow: 0 0 10px 0 #cfcfcf;
    margin: 3em auto;
    min-width: 60em;
    moz-box-shadow: 0 0 10px 0 #cfcfcf;
    padding: 3em 3em 1.5em;
    webkit-box-shadow: 0 0 10px 0 #cfcfcf;
    width: 60%;
}

h1.head
{
    float: right;
    background-color: #fff;
    color: #ccc;
    display: inline-block;
    font-size: 1.75em;
}

h1.pagetitle
{
    font-size: 1.375em;
    font-weight: bold;
    line-height: 3em;
}

h2
{
    font-size: 1.375em;
    line-height: 1.25em;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.3em;
    margin-top: 1em;
    margin-bottom: 16px;
}
h2 i
{
    color: #ccc;
    font-size: 1.25em;
}
h3
{
    font-size: 1.25em;
    line-height: 1.5em;
}
h4
{
    font-size: 1em;
    font-weight: bold;
    line-height: 0.75em;
}
#simplecode
{
    margin: 5px 0 10px 0;
}
code
{
    background-color: #E5EAED;
    border-radius: 4px;
    color: #F55567;
    font-size: 90%;
    padding: 2px 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
p
{
    line-height: 2em;
    margin: 5px 0px;
}
ul, ol, dl
{
    line-height: 2em;
}
p.intro
{
    font-size: 1.5em;
    line-height: 2em;
}
ul
{
    list-style-type: square;
}
ol
{
    list-style-type: decimal;
}
dt
{
    font-weight: 700;
}
hr
{
    background-color: #edebea;
    border: 0;
    height: 2px;
}
a, a:visited
{
    color: #1F7900;
    text-decoration: none;
}
a:hover
{
    color: #33B307;
    text-decoration: underline;
}
a.normal
{
    color: #000000;
    text-decoration: none;
}
a.normal:visited
{
    color: #999999;
    text-decoration: none;
}
a.normal:hover
{
    color: #1F7900;
    text-decoration: underline;
}
.menu a
{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 1.75em;
    background-color: #fff;
    color: #ccc;
    display: inline-block;
    font-size: 1.25em;
    padding: 0px 5px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.menu a:hover
{
    color: #156615;
    text-decoration: none;
}
a.footer
{
    color: #000000;
    text-decoration: none;
}
a.footer:visited
{
    color: #000000;
    text-decoration: none;
}
a.footer:hover
{
    color: #1F7900;
    text-decoration: underline;
}
em
{
    font-style: italic;
}
strong
{
    color: #333;
    font-weight: bold;
}
img.avatar
{
    float: right;
    position: relative;
}
.meta
{
    font-size: 0.875em;
    margin-bottom: 10px;
    text-align: left;
}
dl .meta
{
    margin: 0 0 1.5em 0;
}
.home
{
    float: right;
    position: relative;
}
.listing
{
    margin: 0 0 3.125em 0;
}
.listing-item,.listing-seperator
{
    list-style-type: none;
}
.listing-item a
{
    padding: .2em 1em;
}
.listing-item time
{
    color: #999999;
}
.listing-seperator
{
    /*font-weight: bold;*/
}
.post
{
    margin: 1.875em 0 3.125em 0;
}
.paginator
{
    color: #aaa;
    display: block;
    font: 0.875em Arial,Helvetica,sans-serif;
    line-height: 150%;
    margin: 1.25em 0;
}
.paginator a,.paginator span
{
    margin: 2px;
    padding: 0 4px;
    text-decoration: none;
}
.paginator .current-page
{
    background: #999999;
    color: white;
}
.paginator a
{
    color: #101010;
    text-decoration: none;
}
.paginator a:visited
{
    color: #101010;
    text-decoration: none;
}
.paginator a:hover
{
    background: #1F7900;
    color: white;
}
.comment
{
    margin-top: 3.125em;
}
footer
{
    border-top: 1px dashed #CCC;
    display: block;
    margin: 3.125em 0 0 0;
}
footer small
{
    color: #999;
    font-size: 0.875em;
}
.tags-show
{
    width: 70%;
}
.tags
{
    list-style: none;
    margin: 0px 0px 30px 0px;
    overflow: hidden;
    padding: 0;
    zoom: 1;
    float: left;
    width: 100%;
    /*border-bottom: 1px solid #eee;*/
}
.tags li
{
    float: left;
    margin: 0 20px 8px 0px;
    position: relative;
}
.tags li:active
{
    margin-bottom: 7px;
    margin-top: 1px;
}
.tags li:after
{
    background: #65bb34;
    border-radius: 3px 0 0 3px;
    box-shadow: inset 1px 0 #3a6b1e;
    content: '';
    height: 6px;
    opacity: .95;
    position: absolute;
    right: -2px;
    top: 10px;
    webkit-box-shadow: inset 1px 0 #3a6b1e;
    width: 5px;
    z-index: 2;
}
.tags a, .tags span
{
    box-sizing: border-box;
    display: block;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
}
.tags a
{
    background: #fafafa;
    background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
    background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
    border-color: #dadada #d2d2d2 #c5c5c5;
    border-radius: 3px 0 0 3px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333;
    font-size: 14px;
    height: 26px;
    line-height: 23px;
    padding: 0 9px 0 8px;
    text-decoration: none;
    text-shadow: 0 1px white;
    webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.tags a:hover span
{
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 40px;
    padding: 0 7px 0 6px;
    webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.tags span
{
    background: #65bb34;
    background-image: linear-gradient(to bottom, #71ca3f, #5aa72e);
    background-image: -moz-linear-gradient(top, #71ca3f, #5aa72e);
    background-image: -o-linear-gradient(top, #71ca3f, #5aa72e);
    background-image: -webkit-linear-gradient(top, #71ca3f, #5aa72e);
    border: 1px solid;
    border-color: #549b2b #4f9329 #4b8b27;
    border-radius: 0 2px 2px 0;
    color: white;
    height: 24px;
    left: 100%;
    line-height: 21px;
    max-width: 0;
    moz-transition: 0.3s ease-out;
    moz-transition-property: padding, max-width;
    opacity: .95;
    o-transition: 0.3s ease-out;
    o-transition-property: padding, max-width;
    overflow: hidden;
    padding: 0 0 0 2px;
    position: absolute;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    top: 1px;
    transition: 0.3s ease-out;
    transition-property: padding, max-width;
    webkit-transition: 0.3s ease-out;
    webkit-transition-property: padding, max-width;
    z-index: 2;
}

.listing-seperator-tag
{
    list-style-type: none;
}
.listing-seperator-tag:before
{
    font-family: 'WebSymbolsRegular', cursive;
    content: ",";
    margin: 0 5px 0 0;
    color: rgba(31, 121, 0, 0.52);
}

.categories
{
    list-style: none;
}

.title
{

}

.categories a
{
    text-align: center;
}
.categories a:hover
{
    text-decoration: none;
}

.category-number
{
    font-size: 15px;
    margin-bottom: 15px;
    vertical-align: text-bottom;
    color: rgba(170, 165, 165, 0.96);
    /*padding-left: 2px;*/
}

section.post-tags
{
    text-align: left;
}
section.post-tags:before
{
    font-family: 'WebSymbolsRegular', cursive;
    content: ",";
    color: rgba(31, 121, 0, 0.52);
    margin: 0 1px 0 0;
}
span.post-tags
{
}

.post-tag {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 14px;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: rgba(204, 204, 204, 0.5);
  border-radius: 10px;
}

a.post-tag
{
    color: #555;
    text-decoration: none;
}
a.post-tag:visited
{
    color: #555;
    text-decoration: none;
}
a.post-tag:hover
{
    color: #111;
    text-decoration: none;
}

blockquote strong
{
    color: #333;
    font-weight: 600;
}

/*.notfound
{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.notfound:before
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 700px;
    content: "";
    background: transparent;
    background-size: cover;
}*/