<!doctype html>
<html lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.meta_title %}{{ page.meta_title }}{% elsif page.title %}{{ page.title }} · {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  {% if site.google_site_verification %}<meta name="google-site-verification" content="{{ site.google_site_verification }}">{% endif %}
  {% if site.bing_webmastertools_id %}<meta name="msvalidate.01" content="{{ site.bing_webmastertools_id }}">{% endif %}
  {% if site.baidu_site_verification %}<meta name="baidu-site-verification" content="{{ site.baidu_site_verification }}">{% endif %}

  {% if page.meta_description %}
  <meta name="description" content="{{ page.meta_description | strip_html | escape }}">
  {% elsif page.teaser %}
  <meta name="description" content="{{ page.teaser | strip_html | escape }}">
  {% elsif site.description %}
  <meta name="description" content="{{ site.description | strip_html | escape }}">
  {% endif %}

  {% include favicon %}
  {% if page.noindex == true %}<meta name="robots" content="noindex">{% endif %}
  <link type="text/plain" rel="author" href="{{ '/humans.txt' | relative_url }}">

  <meta property="og:locale" content="{% if site.og_locale == nil %}en_EN{% else %}{{ site.og_locale }}{% endif %}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  {% if page.meta_description %}
  <meta property="og:description" content="{{ page.meta_description | strip_html | escape }}">
  {% elsif page.description %}
  <meta property="og:description" content="{{ page.description | strip_html | escape }}">
  {% elsif site.description %}
  <meta property="og:description" content="{{ site.description | strip_html | escape }}">
  {% endif %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  {% if site.title %}<meta property="og:site_name" content="{{ site.title }}">{% endif %}
  {% if page.image.thumb %}<meta property="og:image" content="{{ '/images/' | append: page.image.thumb | absolute_url }}">{% endif %}

  <link rel="stylesheet" href="{{ '/assets/css/styles_feeling_responsive.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}">

  {% unless page.style == NULL %}
  <style>{{ page.style }}</style>
  {% endunless %}

  {% if page.no_code == NULL or page.no_code == false %}
  <link rel="stylesheet" href="{{ '/assets/syntaxhighlighter/styles/shCore.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/syntaxhighlighter/styles/shThemeEclipse.css' | relative_url }}">
  <script src="{{ '/assets/syntaxhighlighter/scripts/shCore.js' | relative_url }}"></script>
  <script src="{{ '/assets/syntaxhighlighter/scripts/shBrushCpp.js' | relative_url }}"></script>
  <script src="{{ '/assets/syntaxhighlighter/scripts/shBrushGoLang.js' | relative_url }}"></script>
  <script src="{{ '/assets/syntaxhighlighter/scripts/shBrushPython.js' | relative_url }}"></script>
  <script src="{{ '/assets/syntaxhighlighter/scripts/shBrushScala.js' | relative_url }}"></script>
  <script src="{{ '/assets/syntaxhighlighter/scripts/shBrushSql.js' | relative_url }}"></script>
  <script>SyntaxHighlighter.all();</script>
  {% endif %}

  {% if page.mathjax == true %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] },
      TeX: { equationNumbers: { autoNumber: "AMS" } }
    });
  </script>
  <script defer src="{{ '/assets/js/MathJax.js' | relative_url }}"></script>
  {% endif %}

  {% if page.mediaplayer == true %}
  <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/mediaelement_js/mediaelement-and-player.min.js' | relative_url }}"></script>
  <link rel="stylesheet" href="{{ '/assets/mediaelement_js/mediaelementplayer.min.css' | relative_url }}">
  {% endif %}
</head>
