{% comment %}
*  This loops through the paginated posts 
*
*  Total posts: {{paginator.total_posts}}
*  Total paginate-pages: {{paginator.total_pages}}
*  
{% endcomment %}


{% for post in paginator.posts %}
<article class="post-item">
  <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
  <p class="post-item__meta">{{ post.date | date: "%Y-%m-%d" }}{% if post.categories %} · {{ post.categories | join: " / " }}{% endif %}</p>
  <p>
    {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif post.teaser %}{{ post.teaser | strip_html | escape }}{% elsif post.excerpt %}{{ post.excerpt | strip_html | escape }}{% endif %}
  </p>
  <p><a href="{{ post.url | relative_url }}" title="{{ site.data.language.read }} {{ post.title | escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a></p>
</article>
{% endfor %}

<nav class="pager" id="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="{{ '/blog/' | relative_url }}" title="{{ site.data.language.previous_posts }}">&laquo; {{ site.data.language.previous_posts }}</a>
    {% else %}
    <a href="{{ '/blog/page' | append: paginator.previous_page | append: '/' | relative_url }}" title="{{ site.data.language.previous_posts }}">&laquo; {{ site.data.language.previous }}</a>
    {% endif %}
  {% endif %}

  <a href="{{ '/blog/archive/' | relative_url }}" title="{{ site.data.language.blog_archive }}">{{ site.data.language.blog_archive }}</a>

  {% if paginator.next_page %}
  <a href="{{ '/blog/page' | append: paginator.next_page | append: '/' | relative_url }}" title="{{ site.data.language.next_posts }}">{{ site.data.language.next }} &raquo;</a>
  {% endif %}
</nav>

